// Materialize Sticky Footer Code

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#theNavBar {
	background-color: #00c853;
}

.movieBox {
  margin-top: 40px;
  width: 200px;
  height: 286px;
  float: left;
  border: 2px solid #666;
  img {
    width: 100%;
    height: 100%;
  }
  p {
    display: inline;
    margin: 0 20px 0 20px;
    padding: 0;
  }
}