<article class="movie-list">

  <header><h4>Movie History > </h4></header>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h3>Welcome to Movie History</h3>
      <h5>Search movies and add them to your own List.</h5>
      <p>Instructions: Use the search bar to look up movie titles, then you can add them to your list.  You can rate movies with a star rating.  Use the filter buttons to filter your search results.</p>
    </div>
    <div class="modal-footer">
      <a href="#/list" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3"><a class="filterBtn"href="#test1">Show Untracked</a></li>
            <li class="tab col s3"><a class="filterBtn"href="#test2">Show Tracked</a></li>
            <li class="tab col s3"><a class="filterBtn"href="#test3">Show Watched</a></li>
            <li class="tab col s3"><a class="filterBtn"href="#test4">Show Favorites</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">untracked</div>
    <div id="test2" class="col s12">tracked</div>
    <div id="test3" class="col s12">watched</div>
    <div id="test4" class="col s12">favorites</div>
</div>


	<div id="showPostersHere"></div>

</article>