<article class="movie-list">



  <div id="modal1" class="modal">
    <div class="modal-content">
      <h3>Welcome to Movie History</h3>
      <h5>Search movies and add them to your own List.</h5>
      <p>Instructions: Use the search bar to look up movie titles, then you can add them to your list.  You can rate movies with a star rating.  Use the filter buttons to filter your search results.</p>
    </div>
    <div class="modal-footer">
      <a href="#/list" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
    	<div>
        <ul class="tabs" tabs>
            <li class="tab col s3"><a class="filterBtn blue-text text-darken-2" href="#/untracked">Show Untracked</a></li>
            <li class="tab col s3"><a class="filterBtn blue-text text-darken-2" href="#/tracked">Show Tracked</a></li>
            <li class="tab col s3"><a class="filterBtn blue-text text-darken-2" href="#/watched">Show Watched</a></li>
            <li class="tab col s3"><a class="filterBtn blue-text text-darken-2" href="#/favorites">Show Favorites</a></li>
        </ul>
    </div>
  </div>


  <div id="showPostersHere"></div>

</article>